<div class="fields">
    <div class="item">
        <div class="title">Nome</div>
        <div>
            <input type="text" name="name" value="{{chef.name}}">
        </div>
    </div>

    <div class="item">
        <div class="title">Avatar</div>
        <div>
            <input type="url" name="avatar_url" value="{{chef.avatar_url}}">
        </div>
    </div>
</div>