{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin</title>
{% endblock head %}

{% block content %}
    <div class="list-title">
        <h1>Gerenciar chefs</h1>
        {% if user.is_admin %}
        <a href="/admin/chefs/create" class="button" >Novo</a>
        {% endif %}
    </div>

    <section class="chefs-cards">
        {% for chef in chefs %}
            <div class="chef-card" id="{{chef.id}}">
                <div class="avatar">
                    <img src="{{chef.avatar.src}}" alt="{{chef.avatar.name}}">
                </div>
                <div class="recipes-card-content">
                    <div class="recipes-card-title">
                        <p>{{chef.name}}</p>
                    </div>
                    <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}
