* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto-Regular;
    height: 100vh;
}

/*=== MENU ===*/

header {
    padding: 30px;
    width: 67.1%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo img{
    width: 90.6px;
}

.links {
    text-align: left;
}

.links a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin: 0 15px;
}

/*=== DESCRIPTION ===*/

@media (max-width: 650px) {
    .description {
        width: 85% !important;
        grid-template-columns: 1fr !important;
    }
    .description .desc-text {
        width: 90% !important;
        padding: 2rem 1rem !important;
    }
    .description .desc-img {
        margin: 0 auto !important;
    }
}

.description {
    width: 67.1%;
    background: #FBDFDB;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description .desc-text {
    width: 18rem;
    padding: 7rem 4rem;
}

.description .desc-text h1 {
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    padding-bottom: 0.7rem;
}

.description .desc-text p {
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.description .desc-img {
    margin: auto auto 0 auto;
}

/*=== RECEITAS ===*/

.wrapper {
    margin-left: 16.4%;
    padding-top: 2.5rem;
}

.wrapper h1 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}

.recipes {
    max-width: 67.1%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe-image-container img {
    width: 100%;
    border-radius: 15px;
}

.recipe-title {
    padding-top: 1rem;
}

.recipe-title p {
    font-size: 18px;
}

.recipe-author {
    padding-top: 0.3rem;
}

.recipe-author {
    font-size: 14px;
    color: #777777;
}

/*=== SOBRE ===*/

.about {
    width: 67.1%;
    margin: 0 auto;
    
}

.about h1, h2 {
    font-family: Roboto-Bold;
    color: #111111;
    padding: 2rem 0;
}

.about h1 {
    font-size: 24px;
}

.about h2 {
    font-size: 20px;
}

.about p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

/*=== FOOTER ===*/

footer {
    width: 100%;
    height: 5.7%;
    background: #EEEEEE;
    margin-top: 4rem;
}

footer p {
    padding-top: 0.7rem;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal {
    background-color: white;
    width: 47.1%;
    margin: 15vh auto;
    border-radius: 16px;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr;
}

.modal-content img {
    width: 93%;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.modal-content h1, p {
    text-align: center;
}

.modal-content h1 {
    font-size: 24px;
    font-weight: normal;
    padding-top: 1rem;
}

.modal-content p {
    font-size: 18px;
    color: #777777;
    padding-top: 0.3rem;
}

.close-modal-container {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.close-modal-container a {
    font-size: 16px;
    color: #999999;
    cursor: pointer;
}

/*=== MODAL ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}