* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto-Regular;
    height: 100vh;
}

/*=== MENU ===*/

header {
    padding: 30px;
    width: 67.1%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo img{
    width: 90.6px;
}

.links {
    text-align: left;
}

.links a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin: 0 15px;
}

/*=== DESCRIPTION ===*/

@media (max-width: 650px) {
    .description {
        width: 85% !important;
        grid-template-columns: 1fr !important;
    }
    .description .desc-text {
        width: 90% !important;
        padding: 2rem 1rem !important;
    }
    .description .desc-img {
        margin: 0 auto !important;
    }
}

.description {
    width: 67.1%;
    background: #FBDFDB;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description .desc-text {
    width: 18rem;
    padding: 7rem 4rem;
}

.description .desc-text h1 {
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    padding-bottom: 0.7rem;
}

.description .desc-text p {
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.description .desc-img {
    margin: auto auto 0 auto;
}

/*=== SOBRE ===*/

.about {
    width: 67.1%;
    margin: 0 auto 2rem auto;
    
}

.about h1, h2 {
    font-family: Roboto-Bold;
    color: #111111;
    padding: 2rem 0;
}

.about h1 {
    font-size: 24px;
}

.about h2 {
    font-size: 20px;
}

.about p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}