{% extends "main/layout.njk" %}

{% block head %}
    <title>Chefs</title>
{% endblock head %}

{% block content %}
    <section class="chefs-cards">
        {% for chef in chefs %}
            <div class="chef-card-main" id="{{chef.id}}">
                <div class="avatar" style="background: url({{chef.avatar_url}}) no-repeat center center / cover"></div>
                <div class="recipes-card-content">
                    <div class="recipes-card-title">
                        <p>{{chef.name}}</p>
                    </div>
                    <div class="chef-card-total">
                        <p>{{chef.total_recipes}} receitas</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}