{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy Admin</title>
{% endblock head %}

{% block content %}
    <div class="list-title">
        <h1>Gerenciar receitas</h1>
    </div>

    <section class="admin-cards">
        {% for item in itens %}
            <div class="admin-card" id="{{itens.indexOf(item)}}">
                <div class="admin-card-image-container">
                    <img src="{{item.image}}" alt="Imagem Receita">
                </div>
                <div class="admin-card-content">
                    <div class="admin-card-title">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="admin-card-author">
                        <p>{{item.author}}</p>
                    </div>
                    <a href="/admin/recipes/{{itens.indexOf(item)}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}
