{% extends "./layout.njk" %}



{% block head %}

    <title>{{itens[0].title}}</title>
{% endblock %}

{% block content %}
    <div class="list-title">
        <h1>Receita: {{itens[0].title}}</h1>
        <a href="/admin/recipes/{{index}}/edit" class="button" >Editar receita</a>
    </div>

    {% include 'recipe.njk' %}
{% endblock content %}

