<div class="user-fields fields">
    <div class="item">
        <div class="title">Nome</div>
        <div>
            <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo">
        </div>
    </div>

    <div class="item">
        <div class="title">E-mail</div>
        <div>
            <input type="email" name="email" value="{{user.email}}" placeholder="Digite o email">
        </div>
    </div>

    <div class="item">
        <div class="is-admin">
            <input id="is_admin" type="checkbox" name="is_admin" value="true">
            <label for="is_admin">Administrador</label>
        </div>
    </div>
</div>