{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin</title>
{% endblock head %}

{% block content %}
    <div class="list-title">
        <h1>Usuários</h1>
        <a href="/admin/users/create" class="button" >Novo</a>
    </div>

    {% include 'admin/user/users.njk' %}

{% endblock content %}