{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block content %}
    <section class="recipes">
        {% for item in itens %}
            <div class="recipe" id="burger">
                <div class="recipe-image-container">
                    <img src="{{item.image}}" alt="Imagem Receita">
                </div>
                <div class="item-title">
                    <p>{{item.title}}</p>
                </div>
                <div class="item-author">
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}   