{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block content %}
    <section class="cards">
        {% for item in itens %}
            <div class="card" id="{{itens.indexOf(item)}}">
                <div class="card-image-container">
                    <img src="{{item.image}}" alt="Imagem Receita">
                </div>
                <div class="card-title">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-author">
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}   