{% extends "main/layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block content %}
    {% include 'main/recipes/list.njk' %}
    
    <script>
        if ({{pagination.total}} == 0) {
            const cards = document.querySelector('.cards');
            console.log(cards);
            cards.innerHTML = "<div></div><div>{{result}}</div>";
        };
    </script>
{% endblock content %}   