<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Foodfy</title>
    {% endblock head %}
    {%include "parts/styles.njk"%}
</head>
<body>
    {%include "parts/messages.njk"%}

    {%include "parts/main-header.njk"%}

    <section class="container">
        {% block content %}
        {% endblock content %}
    </section>

    {%include "parts/footer.njk"%}
</body>
</html>