<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Foodfy Admin</title>
    {% endblock head %}
    {%include "parts/styles.njk"%}
</head>
<body>
    {%include "parts/messages.njk"%}

    {%include "parts/admin-header.njk"%}
    
    <section class="admin-container">
        {% block content %}
        {% endblock content %}
    </section>

    {%include "parts/footer.njk"%}
</body>
</html>