<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Foodfy Admin</title>
    {% endblock head %}
    {%include "parts/styles.njk"%}
</head>
<body>
    {%include "parts/admin-header.njk"%}
    
    <section class="admin-container">
        {% block content %}
        {% endblock content %}
    </section>

    <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

    {%include "parts/footer.njk"%}
</body>
</html>