* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

body {
    font-family: Roboto;
    height: 100vh;
}

/*=== CONTAINER ===*/

.container {
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: flex-start;
    min-height: calc(100vh - 242px);
}

.admin-container {
    min-height: calc(100vh - 280px);
    box-sizing: border-box;
}

.button {
    display: block;
    padding: 9px 20px;
    border-radius: 4px;
    background: #6558C3; 
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF; 
    text-align: center;
    cursor: pointer;
    height: 37px;
    box-sizing: border-box;
}

.button.delete {
    background: #DC4747; 
}


/*=== FOOTER ===*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 62px;
    background: #EEEEEE;
    margin-top: 4rem;
}

footer p {
    font-size: 14px;
    color: #999999;
}

/*=== ADMIN MENU ===*/

.header-admin {
    padding-top: 27px;
    padding-bottom: 26.1px;
    padding-left: 231px;
    background-color: #111111;
    display: grid;
    grid-template-columns: 110.6px 69px 47px 50px 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

.header-admin .admin-links {
    text-align: left;
}

.header-admin .exit {
    justify-self: right;
    padding-right: 50px;
}

.header-admin .admin-links a,
.header-admin .admin-links button {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #999999;
}

.header-admin .admin-links button {
    background-color: #111;
    cursor: pointer;
}

.header-admin .admin-links .admin-link-active {
    color: #ffffff;
}

/*=== MAIN MENU ===*/

.header {
    padding-top: 28px;
    padding-bottom: 30px;
    margin: 0 230px;
    display: grid;
    grid-template-columns: 183px 42px 62px 42px 1fr 160px;
    align-items: center;
    gap: 30px;
}
.header .logo {
    max-height: 26.9px;
}

.logo img{
    width: 90.6px;
}

.links {
    text-align: right;
}

.links a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
}

.links a:hover {
    font-weight: bold;
}

.header .links .link-active {
    font-weight: bold;
}

.header .search {
    height: 37px;
    display: grid;
    grid-template-columns: 246px 91px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.header .search input {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 8px;
    box-sizing: border-box;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #999999;
}

.header .search button {
    height: 100%;
    padding: 8px 8px;
}

/*=== PAGINATION ===*/

.container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination {
    max-height: 20.2px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.pagination a,
.pagination span {
    color: #777777;
    text-decoration: none;
    margin-right: 16px;
    align-self: flex-start;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid #777777;
}

.pagination .page-active {
    filter: brightness(0.3);
    border-bottom: 1px solid #777777;
}

/*=== MAIN DESCRIPTION ===*/

@media (max-width: 650px) {
    .description {
        width: 85% !important;
        grid-template-columns: 1fr !important;
    }
    .description .desc-text {
        width: 90% !important;
        padding: 2rem 1rem !important;
    }
    .description .desc-img {
        margin: 0 auto !important;
    }
}

.description {
    background: #FBDFDB;
    border-radius: 30px;
    margin: 0 230px;
    padding-left: 60px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.description .desc-text {
    width: 316px;
}

.description .desc-text h1 {
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    padding-bottom: 0.7rem;
    text-align: left;
}

.description .desc-text p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    text-align: left;
}

.description .desc-img {
    display: flex;
    align-content: end;
    justify-content: flex-end;
}

.description .desc-img img {
    padding-top: 66px;
}

/*=== MAIN RECIPES CARDS ===*/

.wrapper {
    margin: 50px 230px 20px 230px;
}

.wrapper h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.cards {
    margin: 0 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card-image-container img {
    width: 100%;
    border-radius: 15px;
}

.card-title {
    padding-top: 1rem;
}

.card-title p {
    text-align: left;
    font-size: 18px;
}

.card-author {
    padding-top: 0.3rem;
}

.card-author p {
    text-align: left;
    font-size: 14px;
    color: #777777;
}

/*=== RECIPE ===*/

.recipe {
    margin: 0 230px;
}

.recipe-title, 
.recipe-author {
    text-align: center;
}

.recipe-title p {
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    padding-top: 3.9%;
}

.recipe-author p {
    font-size: 20px;
    color: #777777;
}

.recipe-info {
    padding-top: 3.9%;
}

.recipe-info h3 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    text-align: left;
    display: inline;
    padding-right: 0.6%;
}

.recipe-info ul, 
.recipe-info p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-top: 1.6%;
    list-style-position: inside;
}

.recipe-info p {
    text-align: justify;
    white-space: pre-line;
}

.toggle-preparation, .toggle-info, .toggle-ingredients {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    cursor: pointer;
}

.hide {
    display: none;
}

/* RECIPE GALLERY */

.recipe .gallery {
    width: 100%;
}

.recipe .highlight > img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

.recipe .gallery-preview {
    margin-top: 8px;
    display: grid;
    justify-content: flex-end;
    gap: 10px;
    box-sizing: border-box;
}

.recipe .gallery-preview img {
    height: 50px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    cursor: pointer;
    transition: 200ms;
}

.recipe .gallery-preview img:hover,
.recipe .gallery-preview img.active {
    opacity: 1;
}

/*=== ABOUT ===*/

.about {
    width: 67.1%;
    margin: 0 auto;
    
}

.about h1, h2 {
    font-family: Roboto;
    font-weight: bold;
    color: #111111;
    padding: 2rem 0;
}

.about h1 {
    font-size: 24px;
}

.about h2 {
    font-size: 20px;
}

.about p {
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

/*=== CHEFS ===*/

.chefs-cards .chef-card-main .chef-card-total p {
    font-size: 14px;
    color: #666666;
    text-align: left;
}

.chef-card-main {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

/*=== ADMIN RECIPES===*/

.list-title {
    margin-top: 50px;
    margin-left: 230px;
    margin-right: 230px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.list-title h1 {
    height: 37px;
    max-height: 37px;
}

.list-title h1 {
    font-size: 24px;
    font-weight: bold;
}

.recipes-cards {
    padding: 0 230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipes-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipes-card-image-container img {
    width: 100%;
    border-radius: 8.57px;
}

.recipes-card-content a {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

.recipes-card-title p {
    font-size: 18px;
    text-align: left;
}

.recipes-card-author {
    padding-top: 0.3rem;
    padding-bottom: 10px;
}

.recipes-card-author p {
    text-align: left;
    font-size: 14px;
    color: #777777;
}

/*=== ADMIN CHEFS===*/

.avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.chefs-cards {
    padding: 0 230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.chef-card {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    gap: 20px;
}

.chef-recipes h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin: 30px 230px;
}

.chef-header {
    text-align: center;
}

.avatar-big img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 42px auto 30px auto;
    object-fit: cover;
}

.chef-name p {
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 4px;
}

.total-recipes {
    font-size: 20px;
    color: #777777;
    margin-bottom: 20px;
}

/*=== ADMIN CREATE ===*/

.fields {
    padding: 0 230px;
}

.item .title {
    font-size: 16px;
    color: #111111;
    padding-bottom: 10px;
    padding-top: 30px;
}

.item input,
.item select,
.item textarea {
    padding: 0 20px;
    font-size: 16px;
    box-sizing: border-box;
    color: #111;
}

.item input,
.item select{
    width: 100%;
    height: 49px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.item textarea{
    width: 100%;
    height: 257px;
    padding: 20px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-family: Roboto;
}

.fields .ingredient, .preparation {
    padding-top: 10px;
}

.fields .ingredient:first-child, .preparation:first-child {
    padding-top: 0;
}

.fields button {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #6558C3;
    cursor: pointer;
    outline: none;
}

/*=== ADMIN EDIT ===*/

.list-title.recipe-edit {
    grid-template-columns: 1fr 92px 138px;
    gap: 10px;
}

.list-title.chef-edit {
    grid-template-columns: 1fr 92px 121px;
    gap: 10px;
}

/* PHOTOS UPLOAD */

form .item #photos-upload {
    position: relative;
    display: grid;
    grid-template-columns: 149px 1fr;
    gap: 8px;
    overflow: hidden;
    height: 149px;
}

form .item #photos-upload label {
    width: 149px;
    height: 149px;
    padding: 8px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    box-shadow: 0 2px 2px -6px #333;
    color: #999999;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

form .item #photos-upload label i {
    font-size: 36px;
}

form .item #photos-input {
    position: absolute;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
}

form .item #photos-preview {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 149px);
    gap: 8px;
    width: 100%;
    height: 100%;
}

form .item #photos-preview img {
    width: 149px;
    height: 149px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
    font-size: 6px;
    width: 100%;
    height: 149px;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo i:hover {
    opacity: 1;
}

/* AVATAR UPLOAD */

form .item #photos-upload label i {
    font-size: 36px;
}

form .item #avatar-upload {
    display: grid;
    grid-template-columns: 139px;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    gap: 10px;
}

form .item #avatar-preview {
    justify-self: center;
}

form .item #avatar-input {
    position: absolute;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
}

form .item #avatar-preview img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

/* VALIDATE ERRORS */

.input .error {
    background-color: rgba(231, 76, 60, 0.8);
    padding: 4px;
    border-radius: 4px;
    color: white;
}