<div class="fields">
    <div class="item">
        <div class="title">Imagem da receita</div>
        <div>
            <input type="url" name="image" value="{{recipe.image}}">
        </div>
    </div>

    <div class="item">
        <div class="title">Titulo da receita</div>
        <div>
            <input type="text" name="title" value="{{recipe.title}}">
        </div>
    </div>

    <div class="item">
        <div class="title">Chef</div>
        <div>
            <select name="chef">
                {% for chef in chefOptions %}
                    <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{%endif%}>{{chef.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="item">
        <div class="title">Ingredientes</div>
            <div id="ingredients">
                {% for ingredient in recipe.ingredients %}
                    <div class="ingredient">
                        <input type="text" name="ingredients[]" value="{{ingredient}}">
                    </div>
                {% endfor %}
            </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <div class="title">Modo de preparo</div>
            <div id="preparations">
                {% for preparation in recipe.preparation %}
                    <div class="preparation">
                        <input type="text" name="preparation[]" value="{{preparation}}">
                    </div>
                {% endfor %}
            </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>
    </div>

    <div class="item">
        <div class="title">Informações adicionais</div>
        <div>
            <textarea name="information">{{recipe.information}}</textarea>
        </div>
    </div>
</div>