<div class="fields">
    <div class="item">
        <div class="title">Imagem da receita</div>
        <div>
            <div id="photos-upload">
                <input id="photos-input" type="file" name="photos" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                <label for="photos-input">
                    <i class="material-icons">add</i>
                </label>
                <div id="photos-preview">
                    {% if files != "" %}
                        {% for image in files %}
                            <div class="photo" id="{{image.id}}">
                                <img src="{{image.src}}" alt="{{image.name}}">
                                <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">delete</i>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="removed_files">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="title">Titulo da receita</div>
        <div>
            <input type="text" name="title" value="{{recipe.title}}">
        </div>
    </div>

    <div class="item">
        <div class="title">Chef</div>
        <div>
            <select name="chef">
                {% for chef in chefOptions %}
                    <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{%endif%}>{{chef.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="item">
        <div class="title">Ingredientes</div>
            <div id="ingredients">
                {% for ingredient in recipe.ingredients %}
                    <div class="ingredient">
                        <input type="text" name="ingredients[]" value="{{ingredient}}">
                    </div>
                {% endfor %}
            </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <div class="title">Modo de preparo</div>
            <div id="preparations">
                {% for preparation in recipe.preparation %}
                    <div class="preparation">
                        <input type="text" name="preparation[]" value="{{preparation}}">
                    </div>
                {% endfor %}
            </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>
    </div>

    <div class="item">
        <div class="title">Informações adicionais</div>
        <div>
            <textarea name="information">{{recipe.information}}</textarea>
        </div>
    </div>
</div>