{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin</title>
{% endblock head %}

{% block content %}
    <div class="list-title">
        <h1>Gerenciar receitas</h1>
        <a href="/admin/recipes/create" class="button" >Novo</a>
    </div>

    {% include 'admin/list.njk' %}
{% endblock content %}
