<section class="recipes-cards">
    {% for recipe in recipes %}
        <div class="recipes-card" id="{{recipe.id}}">
            <div class="recipes-card-image-container">
                {% if not recipe.files %}
                    <img src="http://placehold.it/600x280?text=PRODUTO SEM FOTO">
                {% else %}
                    <img src="{{recipe.files.src}}" alt="{{recipe.files.name}}">
                {% endif %}
            </div>
            <div class="recipes-card-content">
                <div class="recipes-card-title">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipes-card-author">
                    <p>por {{recipe.chef_name}}</p>
                </div>
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    {% endfor %}
</section>