<section class="chef-header">
    <div class="avatar-big" style="background: url({{chef.avatar_url}}) no-repeat center center / cover"></div>
    <div class="chef-name">
        <p>{{chef.name}}</p>
    </div>
    <div class="total-recipes">
        <p>{{chef.total_recipes}} receitas</p>
    </div>
</section>