<section class="recipe">
            <div>
                <div class="gallery">
                    <div class="highlight">
                        {% if not files[0] %}
                        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
                        {% else %}
                            <img src="{{files[0].src}}" alt="{{files[0].name}}">
                        {% endif %}
                    </div>
                    <div class="gallery-preview" style="grid-template-columns: repeat({{files.length}}, 50px);">
                        {% for image in files %}
                            <img 
                                src="{{image.src}}" 
                                alt="{{image.name}}" 
                                {% if loop.index0 == 0 %} 
                                    class="active" 
                                {% endif %} 
                                onclick="ImageGallery.setImage(event)"
                            >
                        {% endfor %}
                    </div>
                </div>
                <div class="recipe-title">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipe-author">
                    <p>por {{recipe.chef_name}}</p>
                </div>
                <div class="recipe-info">
                    <h3>Ingredientes</h3>
                    <span class="toggle-ingredients">ESCONDER</span>
                    <div id="ingredients">
                        <ul>
                        {% for ingredients in recipe.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="recipe-info">
                    <h3>Preparação</h3>
                    <span class="toggle-preparation">ESCONDER</span>
                    <div id="preparation">
                        <ul>
                        {% for preparation in recipe.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="recipe-info">
                    <h3>Informações adicionais</h3>
                    <span class="toggle-info">ESCONDER</span>
                    <div id="info">
                        <p>{{recipe.information}}</p>
                    </div>
                </div>
            </div>
</section>