<header>
    <div class="header-admin">
        <div class="logo">
            <a href="/admin/recipes">
                <img src="/assets/logo_b.png" alt="Logo Foodfy">
            </a>
        </div>
        <div class="admin-links">
            <a href="/admin/recipes">RECEITAS</a>
        </div>
        <div class="admin-links">
            <a href="/admin/chefs">CHEFS</a>
        </div>
        <div class="admin-links">
            <a href="/admin/users">USUÁRIOS</a>
        </div>
        <div class="exit admin-links">
            <form action="/admin/users/logout" method="POST">
                <button type="submit">SAIR</button>
            </form>
        </div>
    </div>
</header>