<div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

<footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
</footer>

<script src="/js/scripts.js"></script>