<header>
    <div class="login-header header">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo.png" alt="Logo Foodfy">
            </a>
        </div>
    </div>
</header>