<header>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo.png" alt="Logo Foodfy">
            </a>
        </div>
        <div class="links">
            <a href="/about">Sobre</a>
        </div>
        <div class="links">
            <a href="/recipes">Receitas</a>
        </div>
        <div class="links">
            <a href="/chefs">Chefs</a>
        </div>
        <form class="search" action="/recipes" method="GET">
            <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
            <button class="button" type="submit">Buscar</button>
        </form>

        <div class="accounts">
            <a href="/admin/users/login">
                <i class="material-icons">account_circle</i>
                Minha Conta
            </a>

            {%if session.userId%}
                <ul class="submenu">
                    <li>
                        <a href="/admin/profile">Minha Conta</a>
                    </li>
                    {% if logedUser.is_admin %}
                        <li>
                            <a href="/admin/users">Usuários</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/admin/recipes">Minha receitas</a>
                    </li>
                    <li>
                        <a href="/selling">Chefs</a>
                    </li>
                    <li>
                        <form action="/admin/users/logout" method="POST">
                            <button>Sair</button>
                        </form>
                    </li>
                </ul>
            {%endif%}
        </div>
    </div>
</header>