{% if error %}
    <div class="alert">
        <div class="messages error">
            {{error}}
        </div>
    </div>
{% endif %}

{% if success %}
    <div class="alert">
        <div class="messages success">
            {{success}}
        </div>
    </div>
{% endif %}